{% extends "base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h1>Hello there, {{ user.username }}!</h1>

<a href="{% url 'soundboard' %}">
    <button class="btn btn-primary">
        Soundboard
    </button>
</a>

<a href="{% url 'password_change' %}">
    <button class="btn btn-primary">
        Forgot Password?
    </button>
</a>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Log Out</button>
</form>

<br>

<h2> Here are your soundboards:</h2>
{% if soundboards %}
<div class="row">
    <p>Soundboards found: {{ soundboards|length }}</p>
    {% for soundboard in soundboards %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ soundboard.title }}</h5>
                    <p class="card-text">{{ soundboard.description|default:"No description available" }}</p>
                    <a href="{% url 'soundboard_view' soundboard.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>You have no soundboards.</p>
{% endif %}

{% else %}

<h1>Welcome to Soundscapers!</h1>
<br>
<p>You are not logged in.</p>
<a href="{% url 'password_reset' %}">
<button class="btn btn-primary">
    Forgot Password?
</button>
</a>
<a href="{% url 'login' %}">
<button class="btn btn-primary">
Log In
</button>
</a>

{% endif %}
{% endblock %}

