{% extends "base.html" %}
{% load static %}

{% block title %}Soundboard{% endblock %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/soundboard.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid h-100">
    <div class="row">
      <div id="status-message" class="status-container">
        <p id="status-text" class="text-danger">
            Tap your choice of audio from the left pane and then tap on the workspace to add the track! - Tap here if you need to clear your selection!
        </p>
      </div>
    </div>
    <div class="row flex-grow-1">
      <div class="col-3" id="side-pane">
        <h4>Audio Library</h4>
        <div class="card" draggable="true" data-audio="{% static 'audio/Fire.wav' %}">
          <div class="card-body">Fire</div>
        </div>
        <div class="card" draggable="true" data-audio="{% static 'audio/River.wav' %}">
          <div class="card-body">River</div>
        </div>
        <div class="card" draggable="true" data-audio="{% static 'audio/Wind.wav' %}">
          <div class="card-body">Wind</div>
        </div>
        <div class="card" draggable="true" data-audio="{% static 'audio/Outdoor_Raining.wav' %}">
          <div class="card-body">Outdoor Raining</div>
        </div>
        <div class="card" draggable="true" data-audio="{% static 'audio/Indoor_Raining.wav' %}">
          <div class="card-body">Indoor Raining</div>
        </div>
        <div class="card" draggable="true" data-audio="{% static 'audio/Spooky.wav' %}">
          <div class="card-body">Spooky</div>
        </div>
      </div>
      <input type="hidden" id="soundboard_id" value="{{ soundboard_id }}">
      <div class="col-9 bg-light" id="workspace" >
      <h5>Soundboard Workspace</h5>
      
            
    </div>
    </div>
    
  </div>
  <!-- Bottom Pane -->
  <div class="bottom-pane border rounded p-3 bg-light">
    <h5>Manage Soundboard</h5>

    <div class="row">
      <!-- Save and Load Buttons -->
      <div class="col-md-6">
        <button class="btn btn-secondary w-100 mb-2" id="clear_workspace">New Soundboard</button>
        <!-- <button class="btn btn-secondary w-100 mb-2" id="save-draft-btn">Save as Draft</button> -->
        <select id="soundboard_dropdown" class="form-select mb-2">
          <option selected disabled>Select a Soundboard</option>
        </select>
        <button class="btn btn-info w-100 mb-2" id="load-soundboard-btn">Load Soundboard</button>
        <button class="btn btn-danger w-100" id="delete-soundboard-btn">Delete Soundboard</button>
      </div>


       <!--Privacy Settings -->
      <div class="col-md-4" id="hidden-privacy">
        <label for="privacy-toggle" class="form-label">Privacy</label>
        <select id="privacy-toggle" class="form-select">
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div> 

      <!-- Post to Feed -->
      <div class="col-md-6">
        <textarea id="title" class="form-control mb-2" rows="1" placeholder="Add a title for your soundboard.."></textarea>
        <textarea id="description" class="form-control mb-2" rows="2"
          placeholder="Add a description for you soundboard.."></textarea>
          <button class="btn btn-primary w-100 mb-2" id="save-soundboard-btn">Save Soundboard</button>
      </div>
    </div>
  </div>
  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/tone@latest/build/Tone.js"></script>
  <script src="{% static 'js/soundboard.js' %}"></script>
{% endblock %}
